/*** 雪玉（共通） ***/
.snows div{
  position: fixed; /*画面固定*/
  top: -350px; /*初期位置*/
  left: 0;
  width: 100vw; 
  border-radius: 50%; /*丸型*/
  background: #757373; /*雪の色*/
  opacity: 0.9; /*若干透明に*/
}
.snows div:nth-child(1){
  width: 60px;
  height: 60px;
  filter: blur(20px);
  box-shadow:
    330px 5px #757373,
    514px -200px #757373,
    774px -480px #757373,
    1030px 40px #757373,
    1448px 165px #757373,
    1904px 230px #757373;
  animation: fall 12s linear infinite; /*落下*/
  animation-delay:6s; /*開始遅延*/
}

.snows div:nth-child(2){
  width: 60px;
  height: 60px;
  filter: blur(20px);
  box-shadow:
    230px -45px #757373,
    614px 200px #757373,
    864px 80px #757373,
    1030px -240px #757373,
    1478px -165px #757373,
    1804px 230px #757373;
  animation: fall 12s linear infinite; /*落下*/
  animation-delay: 0s; /*開始遅延*/
}

.snows div:nth-child(3){
  width: 80px;
  height: 80px;
  filter: blur(30px);
  box-shadow:
    768px -300px #757373,
    1536px 220px #757373;
  animation: fall 10s linear infinite; /*落下*/
  animation-delay: 5s; /*遅延*/
}

.snows div:nth-child(4){
  width: 80px;
  height: 80px;
  filter: blur(30px);
  box-shadow:
    468px -400px #757373,
    736px 120px #757373;
  animation: fall 10s linear infinite; /*落下*/
  animation-delay: 10s; /*遅延*/
}


/*** 落下アニメーション ***/
@keyframes fall{
  0%{
    top: -350px;
  }
  100% {
    top: calc(100% + 350px);
  }
}
